.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.admin-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-info h3 {
    margin: 0;
    font-size: 18px;
}

.admin-info p {
    margin: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-right .logout-button {
    background-color: rgba(228, 63, 90, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-right .logout-button:hover {
    background-color: rgba(228, 63, 90, 0.8);
}

.navbar-right .homePage-button {
    background-color: rgba(200, 150, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-right .homePage-button:hover {
    background-color: rgb(186, 122, 255);
}